.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 3;
}

.div2 {
    grid-area: 1 / 3 / 6 / 6;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    display: block;
    padding: 12px;
    text-decoration: none;
}

.list li:hover {
    background-color: aqua;
}

.list li div {
    text-align: center;
}

#menuBar {
    margin: 10px;
}